.review-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  color: black;
}
.review-slider .container {
  max-width: 1200px;
  width: 95%;
}
.review-slider .container h1 {
  text-align: center;
  font-weight: 700;
  padding-bottom: 40px;
  font-size: 28px;
}
.review-slider .container h1 span {
  color: #1DB56A;
}
.review-slider .slider-wrapper {
  position: relative;
}
.review-slider .slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.review-slider .slider-wrapper .slide-button:hover {
  background: #404040;
}
.review-slider .slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.review-slider .slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.review-slider .slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.review-slider .slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.review-slider .slider-wrapper .image-list .image-item {
  width: 240px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  gap: 15px;
  border-radius: 15px;
  margin: 5px 0px;
  padding: 15px;
  margin-left: 2px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.review-slider .slider-wrapper .image-list .image-item .dp {
  background-color: #69A03A;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 20px;
}
.review-slider .slider-wrapper .image-list .image-item h2 {
  font-size: 16px;
  font-weight: 500;
}
.review-slider .slider-wrapper .image-list .image-item .checked {
  color: orange;
}
.review-slider .slider-wrapper .image-list .image-item .line {
  height: 1.5px;
  background-color: rgb(230, 230, 230);
  width: 100%;
}
.review-slider .slider-wrapper .image-list .image-item .p {
  font-size: 15px;
  font-weight: normal;
}
.review-slider .container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.review-slider .slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.review-slider .slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.review-slider .slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.review-slider .slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.review-slider .slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

@media only screen and (max-width: 1023px) {
  .container h1 {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 20px;
  }
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}/*# sourceMappingURL=style.css.map */